<!DOCTYPE html>
<html>

<head>
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #22D172;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <p>Hello {{ user.username }},</p>
    <p>We received a password reset request for your account: <strong>{{ user.email }}</strong>.</p>
    <p>Click the button below to reset your password:</p>
    <a href="{{ reset_link }}" class="button">Reset Password</a>
    <p>If you didn’t request the password reset, please ignore this message.</p>
    <p>Best regards,<br>Support Team</p>
</body>

</html>